.container {
  width: 250px;
}

#display{
  background-color: #eee;
  font-size: 24px;
  height: 30px;
  padding: 10px;
  border: solid 1px #000000;
}

#buttons{
  background-color: #ddd;
  padding: 5px;
  border: solid 1px #000000;
}

button {
  font-size: 24px;
  width: 50px;
  height: 50px;
  margin: 3px;
}
